name: alarm
description: A simple Flutter alarm manager plugin for both iOS and Android.
version: 5.1.5
homepage: https://github.com/gdelataillade/alarm

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  collection: any
  equatable: ^2.0.7
  flutter:
    sdk: flutter
  flutter_fgbg: ^0.7.1
  json_annotation: ^4.9.0
  logging: ^1.3.0
  plugin_platform_interface: ^2.1.8
  rxdart: ^0.28.0
  shared_preferences: ^2.5.3

dev_dependencies:
  build_runner: ^2.4.15
  flutter_test:
    sdk: flutter
  json_serializable: ^6.9.5
  pigeon: ^25.3.1
  very_good_analysis: ^7.0.0

flutter:
  assets:
    - assets/long_blank.mp3
    - assets/not_blank.mp3

  plugin:
    platforms:
      android:
        package: com.gdelataillade.alarm.alarm
        pluginClass: AlarmPlugin
      ios:
        pluginClass: SwiftAlarmPlugin
