<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gdelataillade.alarm.alarm">
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <!-- For apps with targetSDK=31 (Android 12) -->
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
  <application>
    <service
        android:name=".NotificationOnKillService"
        android:enabled="true"
        android:exported="false"/>
    <service
        android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmService"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:exported="false"/>
    <receiver
        android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmBroadcastReceiver"
        android:exported="false"/>
    <receiver
        android:name="dev.fluttercommunity.plus.androidalarmmanager.RebootBroadcastReceiver"
        android:enabled="false"
        android:exported="false">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>
  </application>
</manifest>
